<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You have successfully signed up to example.com,
      your username is: <%= @order.user %>.<br>
    </p>
   
    
  <div class="panel panel-default items">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="2">Product</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @order.line_items.each do |item| %>
        <%= render 'orders/item', item: item %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">
          TOTAL:
        </th>
        <th>
          <%= @order.total %>
        </th>
      </tr>
    </tfoot>
  </table>
  <h2>Order successfully placed></h2>
  </div>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>